:root {
  --background: hsl(233, 47%, 7%);
  --primary: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --content-root: hsl(0, 0%, 100%);
  --content-soft: hsla(0, 0%, 100%, 0.6);
  --content-main: hsla(0, 0%, 100%, 0.75);
  --desktop-min-width: 1008px;
  --img-border-radius: 10px 10px 0 0;
}

body {
  background-color: var(--background);
  color: var(--content-main);
  margin: 0;
  margin-block: 40px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.color-accent {
  color: var(--accent);
}

main {
  max-width: 80%;
  margin: auto;
  background: var(--primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
  border-radius: var(--img-border-radius);
  background-color: var(--accent);
}

img {
  width: 100%;
  display: block;
  mix-blend-mode: multiply;
  border-radius: var(--img-border-radius);
  opacity: 0.75;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 40px 20px 40px;
}

h1 {
  margin-block: 0;
  margin-top: 20px;
  font-size: 26px;
  color: var(--content-root);
}

p {
  margin-top: 20px;
  font-weight: 200;
  line-height: 24px;
}

.data-container {
  padding: 20px;
}

.data-value {
  font-weight: 600;
  font-size: 20px;
  color: var(--content-root);
}

.data-label {
  margin-top: 4px;
  font-size: 12px;
  letter-spacing: 01px;
  color: var(--content-soft);
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1008px) {
  :root {
    --img-border-radius: 0 10px 10px 0;
  }

  body {
    margin-block: 0;
  }

  main {
    flex-direction: row-reverse;
    max-width: 900px;
  }

  figure {
    flex: 1;
  }

  .content-container {
    flex: 1;
    text-align: left;
    justify-content: space-around;
    padding: 0;
  }

  article {
    padding: 20px 4rem 20px 4rem;
  }

  img {
    height: 100%;
    aspect-ratio: 1;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .statistics {
    display: flex;
    flex-direction: row;
    padding: 0 4rem 0 4rem;
    justify-content: space-between;
  }

  .data-container {
    padding: 0;
  }
}
