:root{
    --background: hsl(233, 47%, 7%);
    --primary: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --content-root: hsl(0, 0%, 100%);
    --content-soft: hsla(0, 0%, 100%, 0.6);
    --content-main:  hsla(0, 0%, 100%, 0.75);
}